<%= form_for @tweet, :url => url_for(:controller => 'tweets', :action => 'create') do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', placeholder: "What's happening?" %>
  </div>
  <div class="form-group">
    <%= f.submit "Tweet", class: 'btn btn-secondary', id: "tweetbutton" %>
  </div>
<% end %>
