<!-- row 1 -->
<!-- column 1 -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel body">
        <h1> Welcome, <%= current_user.username %>! </h1>
        <h2> Following: <%= current_user.following.count %> </h2>
        <h2> Followers: <%= current_user.followers.count %> </h2>
        <h3> Posts: <%= current_user.tweets.count %></h3>
      </div>
    </div>
  </div>

<!-- column 2 -->
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel body">
        <%= form_for @tweet, :url => url_for(:controller => 'tweets', :action => 'create') do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', placeholder: "What's happening?" %>
          </div>
          <div class="form-group">
            <%= f.submit "Tweet", class: 'btn btn-secondary', id: "tweetbutton" %>
          </div>
        <% end %>

        <% @tweets.each do |tweet| %>
          <section className='tweet-box'>
            <h3 class="td_email"> <%= link_to tweet.user.email, user_path(tweet.user) %> </h3>
            <span> <%= tweet.content %> </span>
            <time> <%= time_ago_in_words(tweet.created_at) %> </time>
              <div>
                <%= link_to "Delete", tweet, method: :delete %>
              </div>
          </section>
        <% end %>
      </div>
    </div>
  </div>

<!-- column 3 -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel body">
          <p> This is the 3rd column </p>
      </div>
    </div>
  </div>
</div>

<!-- row 2 -->
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel body">
        <p> Trends </p>
      </div>
    </div>
  </div>
</div>
