<p>
  <strong> Content </strong>
  <%= @tweet.content %>
</p>

<p>
  <strong> User: </strong>
  <%= @tweet.user.email %>
</p>

<p>
  <strong> Created at: </strong>
  <%= @tweet.user.created_at %>
</p>
