<!-- row 1-->
<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      PROFILE BANNER
    </div>
  </div>
</div>

<!-- row 2 -->
<div class="row">
    <!--row 2, column1-->
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel body">
          <h1> <%= display_name(@user) %> </h1>
      </div>
    </div>
  </div>

  <!-- row 2,column 2 -->
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel body">
        <p> Following: <%= @user.following.count %> </p>
        <p> Followers: <%= @user.followers.count %> </p>
        <p> Posts: <%= @user.tweets.count %> </p>
        <%= render '/components/follow_button' unless current_user == @user %>
      </div>
    </div>
  </div>
</div>

<!-- row 2, column 3 -->
<div class="col-xs-offset-9">
  <div class="panel panel-default">
    <div class="panel body">
      <p> Trends </p>
    </div>
  </div>
</div>
</div>

<!--row 3 -->
<div class-"row">
  <!--row 3, column 1 -->
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel body">
        about
      </div>
    </div>
  </div>

  <!--row 3, column 2 -->
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel body">
        <p>
          <% @user_tweets.each do |tweet| %>
            <section className='tweet-box'>
              <span> <%= tweet.content %> </span>
              <time> <%= time_ago_in_words(tweet.created_at) %> </time>
                <div>
                  <%= link_to "Delete", tweet, method: :delete %>
                </div>
            </section>
          <% end %>
        </p>
      </div>
    </div>
  </div>
