<% if user_signed_in? %>
  <h1> This is the home page for signed in. </h1>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
<div class="container-fluid">
  <div class="jumbotron vertical-center">
    <div class="log_in">
      <h2>Log in</h2>
      <%= form_for(User.new, as: "user", url: session_path("user")) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <div class="action_login">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    <div class="sign_up">
      <h2>Sign up</h2>
        <%= form_for(User.new, as: "user", url: registration_path("user")) do |f| %>

        <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%  if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="action_signup">
          <%= f.submit "Sign up" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
<% end %>
