@import "bootstrap-sprockets";
@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


#homenav {
  color: #ffff00;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  padding-top: 9px;
}

#homenav:hover {
  color: #fff;
  text-decoration: none;
}


#tweetbutton {
  color: #ffff00;
  font-weight: bold;
}

#logoutbutton {
  color: #ffff00;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  padding-top: 9px;
}

#logoutbutton:hover {
  color: #fff;
  text-decoration: none;
}

#baekhyun {
  height: 20px;
  width: 10px;
}
.table {
  & {
    border-collapse: collapse;
    border: 5px solid black;
  }

  & > .th {
    height: 50px;
    color: #ffff00;
  }
}

.container-fluid {

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.log_in {
  padding-left: 300px;
  padding-bottom: 130px;
}

.sign_up {
  padding-left: 200px;
  padding-bottom: 130px;
}

.action_login {
  padding-top: 20px;
}

.action_signup {
  padding-top: 20px;
}
