<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Header", root_path, id: "logo" %>
    <%= link_to "Home", tweets_path, id: "homenav" %>
    <%= link_to tweets_path do %>
      <%= image_tag "baek.jpg", id: "baekhyun" %>
    <% end %>
    <%= render '/components/log_out_button' if user_signed_in?%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
</ul>
</nav>
</div>
</header>
